<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>
      <%= ProductSchema.name %>
      <a href="/products/<%= product.id %>/edit">
        <i class="fa fa-edit"></i>
      </a>
    </h1>
    <br>
    <small>
      <%= (ProductSchema.updatedAt.toLocaleString("en-CA")) %>
    </small>
  </header>
  <hr>
  <div class="content">
    <%-ProductSchema.description %>
    <%- ProductSchema.price %>
  </div>
</div>

<%- include ('../partials/footer') %>